<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<title>CHS - Back to School Night</title>
	</head>
<body>
	<div class="container text-center">
		<h2 id="title">Columbia High School Back to School Night</h2>
		<br><br>
		<div class="panel panel-default" style="max-width: 40em; margin: auto">
			<div class="panel-body text-center">
				<div class="form-group">
					<label>Student ID</label>
					<div class="input-group">
						<input class="form-control" placeholder="18261">
						<span class="input-group-addon" id="basic-addon2">@students.somsd.k12.nj.us</span>
					</div>
				</div>
				<button class="btn btn-primary" style="width: 100%">Submit</button>
			</div>
		</div>
	</div>

<br><br><br>

	<div id="footer" class="navbar-default navbar-fixed-bottom">
		<div class="list-group-item">
			<ul>
				<li class="list-group-item">Schedule</li>
				<li class="list-group-item">Map</li>
				<li class="list-group-item">About</li>
			</ul>
		</div>
	</div>
</body>

</html>
